body{
  text-align: center!important;
}

nav{
  background: transparent!important;
}

.navbar-brand{
  margin-left: 30px;
}
a{
  font-size: 25px;
  margin-left: 100px;
}
.navbar-brand{
  font-size: 30px;
}
.nav-link:hover{
  border-left: 2px solid #00ff41;
}
.active{
  border-left: 2px solid #00ff41;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  nav{
    text-align: left;
  }
  a {
    margin-left:20px;
  }
  .nav-link{
    padding: 20px;
  }
  .active{
    border-left: none;
  }
  .nav-link:hover{
    border-left:none;
  }
}
